{% extends "base.html" %} 

{% load crispy_forms_tags %} 

{% block active_menu %}
    <li class="nav-item"><a href="{% url 'load:history' %}" class="nav-link active" aria-current="page">Поиск товаров</a></li>
    <li class="nav-item"><a href="{% url 'load:file' %}" class="nav-link">Загрузка файла</a></li>
{% endblock %}

{% block main_content %}
    <h1>Файлы:</h1>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">№</th>
            <th scope="col">Ситилинк id</th>
            <th scope="col">Название</th>
            <th scope="col">Короткое название</th>
            </tr>
        </thead>
    {% for document in object_list %}
        <tbody>
            <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ document.citilink_id }}</td>
            <td>{{ document.product_name }}</td>
            <td>{{ document.search_name }}</td>
            </tr>
        <tbody>
    {% empty %}
        <tr><td>нет загруженных файлов перейдите на страницу <a href="{% url 'load:file' %}">загрузки файлов</a></td></tr>
    {% endfor %}
    </table>
{% endblock %}